extends ../_common/_base.jade

block variables
	- var title = "Главная"
	- var pageClass = "page-home"

block header
	include ../_common/_header.jade
	

block content
	.main-body
		.page-header
			.container

		.page-body
			.container
				.page-content
				

block footer
	include ../_common/_footer.jade