.form-notify{
  clear: both;
  display: block;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  *{
    float: none;
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;
    &:before,&:after{
      display: none;
    }
    @include fontInherit();
  }

  &.error{
    text-align: left;
    color: red;
    font-size: 12px;
    font-weight: $font-regular;
  }
  &.success{
    color: green;
    text-align: center;
    font-weight: $font-semibold;
  }
}

textarea{
  border: none;
  display: block;
  width: 100%;
  resize: none;
  @include appearance();
   @include transition($transition-time);
   @include placeholder(){
    opacity: 1;
    @include transition($transition-time,linear);
  }
  @include placeholderHover(){
    opacity: 0;
  }
}


input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="phone"], input[type="number"],  input[type="search"] {
  display: block;
  text-align: left;
  width: 100%;
  border: none;
  @include appearance;
  @include transition($transition-time);
  @include placeholder(){
    opacity: 1;
    @include transition($transition-time,linear);
  }
  @include placeholderHover(){
    opacity: 0;
  }
  &:hover,&:focus,&.is-changed{
   
  }
}

