fieldset.rating

	input#rating10(type='radio', name='rating', value='10' )
	label(for='rating10', title='5')
		+icon('star')

	input#rating9(type='radio', name='rating', value='9' )
	label.rating__half(for='rating9', title='4.5')
		+icon('star-o')

	input#rating8(type='radio', name='rating', value='8' )
	label(for='rating8', title='4')
		+icon('star')

	input#rating7(type='radio', name='rating', value='7' )
	label.rating__half(for='rating7', title='3.5')
		+icon('star-o')

	input#rating6(type='radio', name='rating', value='6' )
	label(for='rating6', title='3')
		+icon('star')

	input#rating5(type='radio', name='rating', value='5')
	label.rating__half(for='rating5', title='2.5')
		+icon('star-o')

	input#rating4(type='radio', name='rating', value='4')
	label(for='rating4', title='2')
		+icon('star')

	input#rating3(type='radio', name='rating', value='3')
	label.rating__half(for='rating3', title='1.5')
		+icon('star-o')

	input#rating2(type='radio', name='rating', value='2')
	label(for='rating2', title='1')
		+icon('star')

	input#rating1(type='radio', name='rating', value='1')
	label.rating__half(for='rating1', title='0.5')
		+icon('star-o')

	input#rating0(type='radio', name='rating', value='0')
	label(for='rating0', title='0')
		+icon('star')
