.select-dropdown
    .select-dropdown__current
    .select-dropdown__dropdown
        .select-dropdown__options
            .select-dropdown__item(data-value="1")
                span Все для баскетбола
            .select-dropdown__item(data-value="2")
                span Все для футбола
            .select-dropdown__item(data-value="3")
                span Все для всего
