@mixin transition($selector: all, $type: linear, $time: $transition-time, $delay: 0s) {
  -webkit-transition: $selector $type $time $delay;
  -moz-transition: $selector $type $time $delay;
  -ms-transition: $selector $type $time $delay;
  -o-transition: $selector $type $time $delay;
  transition: $selector $type $time $delay;
}
