@mixin transition($selector: all, $animation: linear, $duration: $transition-time) {
  -webkit-transition: $selector $animation $duration;
  -moz-transition: $selector $animation $duration;
  -ms-transition: $selector $animation $duration;
  -o-transition: $selector $animation $duration;
  transition: $selector $animation $duration;
}
