@mixin transition($selector: all, $type: linear, $time: $transition-time) {
  -webkit-transition: $selector $type $time;
  -moz-transition: $selector $type $time;
  -ms-transition: $selector $type $time;
  -o-transition: $selector $type $time;
  transition: $selector $type $time;
}
