@import "_mixins/grid-mixins";


.row {
  @include make-row;
}

@include make-grid-columns;
@include make-col-grid();

@media (min-width: $screen-xs-min) {
  @include make-grid(xs);
}
@media (min-width: $screen-sm-min) {
  @include make-grid(sm);
}

@media (min-width: $screen-md-min) {
  @include make-grid(md);
}

@media (min-width: $screen-lg-min) {
  @include make-grid(lg);
}
@media (min-width: $screen-container) {
  @include make-grid(container);
}
