.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 ($grid-gutter-width/2);
}
.container-fixed {
  width: $container-width;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 ($grid-gutter-width/2);
}
.container-fluid {
  width: 100%;
  box-sizing: border-box;
  padding: 0 ($grid-gutter-width/2);
}
.container-overflow{
  overflow: hidden;
  display: block;
}

.main-wrapper{

}

.main-header{
	
}
.main-body{
  
}
.main-footer{
	
}

.page-header{
  
}
.page-body{

}

.page-content{

}
.page-sidebar{
	
}





.btn-scroll-top{
  position: fixed;
  z-index: 50;
  right: 10%;
  bottom: 8%;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  @include transition($transition-time,linear);
  .icon{
    vertical-align: middle;
  }
  &.is-active{
    visibility: visible;
    opacity: 1;
    bottom: 10%;
  }
}

.breadcrumbs{
  span, a {
    display: inline;
    vertical-align: middle;
  }
  .breadcrumbs__sep{
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
  }
}
