a{
  color: $links-color;
  text-decoration: underline;
  @include transition($transition-time, linear);
  &:hover{
    text-decoration: none;
  }
}

h1,.h1{
  margin: 0 0 25px 0;
}
h2,.h2{
  margin: 0 0 20px 0;
}
h3,.h3{
  margin: 0 0 15px 0;
}
h4,h5,h6,.h4,.h5,.h6{
  margin: 0 0 15px 0;
}

p{
  margin: 0 0 20px 0;
  line-height: 24px;
}

.logo{
  font-size: 0;
  a{
    text-decoration: none;
    //display: inline-block;

  }
  img{
    max-width: 100%;
  }

}


ul, ol {
   margin: 15px 0;
  @include designList(){
   
   
  }
}
ul{
  padding-left: 20px;
}
ol{
  padding-left: 15px;
  li{
    padding-left: 5px;
  }
}

table{
  @include designTable(table-stripped){
    th,td{
     
    }
    th{
    
    }
    td{
     
    }
    tr:nth-child(odd){
      td{
       
      }
    }
  }
}

.bigpic{
  
}
.bigpic-wrapper{

}

.owl-carousel{
  .owl-nav{
    font-size: 0;
    .owl-prev, .owl-next{
     
    }
    .owl-prev{
     
      &:hover{
        
      }
    }
    .owl-next{
     
      &:hover{
     
      }
    }
  }
}



