include _mixins/mixins-files.jade

block variables

doctype html
html.no-js
	include _head.jade

	body(class=""+pageClass)
		.main-wrapper
			<!--[if lt IE 9]>
			<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
			<![endif]-->

			block header

			block content

			block footer

		#js-btn-scroll-top.btn-scroll-top
			+icon('to-top')
		include _components/_photoswipe-window.jade
		
		#js-window-overlay.overlay_dark


		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		//script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
		//script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC4T-H8Uh6hP2gSP05DyocP-C3B88gH790')
		script(src="assets/scripts/vendor.js")
		script(src="assets/scripts/app.js")
