head
	meta(charset="utf-8")
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title #{title}
	link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='assets/images/favicon.ico')
	link(rel='shortcut icon', href='assets/images/favicon.ico')

	script(src="assets/scripts/modernizr-custom.js")
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet")
	link(rel="stylesheet" href="assets/styles/vendor.css")
	link(rel="stylesheet" href="assets/styles/app.css")


	<!--[if lt IE 9]>
	script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
	<![endif]-->
	
	script(type='application/ld+json').
		{
		"@context" : "http://schema.org",
		"@type" : "Organization",
		"name" : "PR-CY",
		"url" : "http://www.sitename.ru",
		"sameAs" : [
		"http://https://vk.com/sitename",
		"https://https://www.facebook.com/sitename/",
		"https://https://ok.ru/sitename",
		"https://https://https://www.instagram.com/sitename/",
		"https://https://https://plus.google.com/u/0/sitename"
		]
		}

